<span class="timeline-label">
    <span class="label label-warning">*|DATE|*</span>
</span>

<div class="timeline-item timeline-item-arrow-sm timeline-item-right">
    <div class="timeline-point timeline-point-warning">
        <i class="glyphicon glyphicon-edit"></i>
    </div>
    <div class="timeline-event timeline-event-primary">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    *|TITLE|*
                    <small class="pull-right" style="line-height: 20px;">*|DATE|*</small>
                </h3>
            </div>
            <div class="panel-body">
                <div class="text-justify">
                    <p style="padding: 10px;">
                        *|CONTENT|*
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>