<span class="timeline-label">
	<span class="label label-info">*|DATE|*</span>
</span>
<div class="timeline-item timeline-item-arrow-sm timeline-item-left">
	<div class="timeline-point timeline-point-info">
		<i class="glyphicon glyphicon-picture"></i>
	</div>
	<div class="timeline-event timeline-event-default">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					*|TITLE|* <small class="pull-right" style="line-height: 20px;">*|DATE|*</small>
				</h3>
			</div>
			<div class="panel-body">
				<div class="img-container text-center">
					<img src="./files/*|THUMBNAME|*" style="max-width:560px; width:100%;">
				</div>
			</div>
			<div class="panel-footer text-right" style="color: white;">
				<a href="./files/*|FILENAME|*" class="btn btn-sm btn-success" download=""><span class="glyphicon glyphicon-download-alt"></span> Download this content</a>
			</div>
		</div>
	</div>
</div>